* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: helvetica, sans-serif;
}

#score-board {
    display: none;
    flex-direction: column;
    position: fixed;
    align-items: center;
    top: 30vh;
    left: 30vw;
    width: 350px;
    height: 200px;
    background-color: white;
    border: solid black 1px;
    padding: 10px 30px;
}

#score-board p {
    line-height: 30px;
    font-size: 18px;
}

#board-score-total {
    font-weight: bold;
}

.app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
}

h1 {
    margin: 50px 0 30px 0;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    font-weight: 700;
}

h2 {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding: 15px 0;
}

header p {
    font-size: 20px;
}

.general-section-user {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    width: 47%;
    padding: 10px;
    border: solid black 1px;
}

#user-music-controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#tempo-gauge {
    width: 400px;
    display: flex;
    justify-content: center;
}

.general-section-auto {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 480px;
    margin: 10px;
    width: 47%;
    padding: 10px;
    border: solid black 1px;
}

.user-notes-pad {
    display: flex;
    justify-content: center;
}

#text-feedback-zone {
    min-height: 130px;
    display: flex;
    flex-direction: column;
}

#text-feedback-zone * {
    flex: 1;
}

#visual-feedback-zone {
    min-height: 398px;
}

#feedback-zone1,
#feedback-zone2 {
    padding: 10px 0;
    font-size: 20px;
}

#score-span,
#round-span {
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
}

#time-span {
    font-size: 25px;
    font-weight: bold;
    color: blue;
}

.btn-control {
    margin: 10px;
    height: 50px;
    width: 120px;
    border: black solid 1px;
    border-radius: 3px;
    font-size: 20px;
    text-transform: uppercase;
}

#btn-start-round {
    width: 220px;
    color: white;
    background-color: green;
}

#btn-start-round:hover {
    background-color: limegreen;
}

.notes-col {
    margin: 20px 0;
    padding: 0;
}

.notes-def-col {
    margin-top: 10px;
    padding-top: 10px;
}

.note-def {
    margin: 5px;
    padding-left: 10px;
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    font-size: 20px;
    border-radius: 3px;
}

.note-def:hover,
.btn-control:hover {
    background-color: peachpuff;
    border: solid #444 1px;
}

.note-def:active {
    transform: scale(0.8);
}

.note {
    margin: 5px;
    height: 50px;
    width: 50px;
    background-color: #ddd;
    border-radius: 3px;
}

.note:hover {
    border: solid #444 1px;
}

.notes-col-highlighted {
    background-color: rgb(255, 229, 187);
}

.highlighted {
    background-color: lightsalmon;
    box-shadow: 0px 0px 1px 1px lightsalmon;
}

#tempo-disp {
    margin: 0 10px;
}